@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@-webkit-keyframes show-left {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes show-left {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(assets/images/desktop/image-hero.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .main__title {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main .main__title .title {
  max-width: 580px;
  margin-top: 130px;
  padding: 30px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  border: 2px solid white;
}

@media screen and (max-width: 768px) {
  main .main__title .title {
    margin-top: 100px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  main .main__title .title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 320px) {
  main .main__title .title {
    margin-top: 50px;
    padding: 25px 20px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  main {
    background-image: url(assets/images/mobile/image-hero.jpg);
  }
}

.main__header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 480px) {
  .logo img {
    max-width: 80%;
  }
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__icons {
  display: none;
  position: relative;
}

.nav__icons .icon--open {
  visibility: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__icons .icon--open.activated {
  visibility: hidden;
}

.nav__icons .icon--close {
  visibility: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__icons .icon--close.activated {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .nav__icons {
    display: block;
    cursor: pointer;
  }
}

.nav__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__lista li {
  display: inline-block;
}

.nav__lista a {
  padding: 10px 18px;
  display: block;
  position: relative;
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 769px) {
  .nav__lista a:hover::after {
    content: '';
    width: 23px;
    height: 1.8px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    background-color: white;
  }
}

.nav__lista a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .nav__lista a:hover {
    color: #8c8c8c;
    font-weight: 700;
    -webkit-animation: show-left 0.9s forwards;
            animation: show-left 0.9s forwards;
  }
}

@media screen and (max-width: 480px) {
  .nav__lista a:hover {
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__lista {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__lista.activated li {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav__lista.activated a {
    padding: 16px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 480px) {
  .nav__lista.activated a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .nav__lista.activated a {
    padding: 14px 20px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 769px) {
  .nav__lista.activated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .nav__lista.activated {
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    text-transform: uppercase;
    -webkit-animation: show-left 0.9s forwards;
            animation: show-left 0.9s forwards;
  }
}

@media screen and (max-width: 320px) {
  .nav__lista.activated {
    padding-top: 80px;
  }
}

.info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 100px;
  margin-bottom: 180px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 480px) {
  .info {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .info {
    margin-top: 50px;
  }
}

.info__text {
  max-width: 600px;
  padding: 95px;
  background-color: white;
  position: absolute;
  bottom: -90px;
  right: 20px;
}

.info__text h2 {
  margin-bottom: 25px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.75rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .info__text h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .info__text h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .info__text h2 {
    font-size: 1.5rem;
  }
}

.info__text p {
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .info__text {
    max-width: 100%;
    padding: 70px 50px;
    position: static;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .info__text {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 320px) {
  .info__text {
    padding: 40px 0;
  }
}

.creations {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 100px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100px 1fr 1fr;
      grid-template-rows: 100px 1fr 1fr;
  gap: 25px;
      grid-template-areas: "grid__title   grid__title grid__title btn" "earth         arcade      soccer      car" "abovevr       pocket      curiosity   fisheye";
}

@media screen and (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60px 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr;
    gap: 20px;
        grid-template-areas: "grid__title   grid__title" "earth         arcade" "soccer        car" "abovevr       pocket" "curiosity     fisheye" "btn           btn";
  }
}

@media screen and (max-width: 480px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "grid__title" "earth"    "arcade" "soccer" "car" "abovevr" "pocket" "curiosity" "fisheye" "btn";
  }
}

.grid__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: grid__title;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.375rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .grid__title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .grid__title {
    font-size: 2rem;
  }
}

.btn {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: btn;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 200px;
  padding: 10px 36px;
  color: black;
  font-family: "Alata", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid dimgray;
  border-radius: 2px;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn {
    margin-top: 10px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.creation__item {
  width: 100%;
  height: 450px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.creation__item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.creation__item:hover p {
  color: black;
  font-weight: 600;
}

.creation__item p {
  max-width: 160px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .creation__item {
    height: 180px;
  }
}

#earth {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: earth;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-deep-earth.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #earth {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-deep-earth.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
  }
}

#arcade {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: arcade;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-night-arcade.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #arcade {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-night-arcade.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-night-arcade.jpg);
    background-position: center;
    background-size: cover;
  }
}

#soccer {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: soccer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-soccer-team.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #soccer {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-soccer-team.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-soccer-team.jpg);
    background-position: center;
    background-size: cover;
  }
}

#car {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: car;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-grid.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #car {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-grid.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-grid.jpg);
    background-position: center;
    background-size: cover;
  }
}

#abovevr {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: abovevr;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-from-above.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #abovevr {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-from-above.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-from-above.jpg);
    background-position: center;
    background-size: cover;
  }
}

#pocket {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: pocket;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-pocket-borealis.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #pocket {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-pocket-borealis.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-pocket-borealis.jpg);
    background-position: center;
    background-size: cover;
  }
}

#curiosity {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: curiosity;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-curiosity.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #curiosity {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-curiosity.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-curiosity.jpg);
    background-position: center;
    background-size: cover;
  }
}

#fisheye {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: fisheye;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.7))), url(assets/images/desktop/image-fisheye.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.7)), url(assets/images/desktop/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  #fisheye {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.1))) 20%, url(assets/images/mobile/image-fisheye.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)) 20%, url(assets/images/mobile/image-fisheye.jpg);
    background-position: center;
    background-size: cover;
  }
}

footer {
  background-color: black;
}

footer .attribution {
  padding: 16px 0;
  color: white;
  font-size: 0.6875rem;
  text-align: center;
}

footer .attribution a {
  color: dimgray;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 769px) {
  .footer__container {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding-bottom: 30px;
  }
}

.footer__logo__link .footer__links {
  margin: 20px 0;
}

.footer__logo__link .footer__links li {
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .footer__logo__link .footer__links li {
    display: block;
    text-align: center;
  }
}

.footer__logo__link .footer__links a {
  padding: 10px 18px;
  display: block;
  position: relative;
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  padding: 3px 0 10px 0;
  margin-right: 32px;
}

@media screen and (min-width: 769px) {
  .footer__logo__link .footer__links a:hover::after {
    content: '';
    width: 23px;
    height: 1.8px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    background-color: white;
  }
}

@media screen and (max-width: 480px) {
  .footer__logo__link .footer__links a {
    margin-right: 0;
    margin: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .footer__logo__link {
    margin: 0 auto;
  }
}

.footer__social__copy .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social__copy .footer__social a {
  padding: 10px 18px;
  display: block;
  position: relative;
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  margin-left: 18px;
  padding: 10px 0;
}

@media screen and (min-width: 769px) {
  .footer__social__copy .footer__social a:hover::after {
    content: '';
    width: 23px;
    height: 1.8px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  .footer__social__copy .footer__social a {
    margin-left: 0;
    margin-right: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer__social__copy .footer__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .footer__social__copy .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social__copy .footer__copy {
  margin-top: 12px;
  color: dimgray;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .footer__social__copy {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */