.creations{
   @include container;
   margin-bottom: 100px;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 100px 1fr 1fr;
   gap: 30px;
   grid-template-areas: 
      "grid__title   grid__title grid__title btn"
      "earth         arcade      soccer      car"
      "abovevr       pocket      curiosity   fisheye"
   ;
   
   @include tablet{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px 1fr 1fr;
      gap: 20px;
      grid-template-areas: 
         "grid__title   grid__title"
         "earth         arcade"
         "soccer        car"
         "abovevr       pocket"
         "curiosity     fisheye"
         "btn           btn"
      ;
   }
   @include mobile{
      grid-template-columns: 1fr;
      grid-template-areas: 
         "grid__title"
         "earth"   
         "arcade"
         "soccer"
         "car"
         "abovevr"
         "pocket"
         "curiosity"
         "fisheye"
         "btn"
      ;
   }
}

.grid__title{
   grid-area: grid__title;
   align-self: start;
   @include creation-title;
}

.btn{
   grid-area: btn;
   justify-self: end;
   align-self: start;
   width: 200px;
   padding: 10px 36px;
   color: $Black;
   font-family: $font-family-alata;
   font-size: 0.875rem;
   font-weight: 400;
   letter-spacing: 5px;
   text-transform: uppercase;
   text-align: center;
   border: 2px solid $Very-Dark-Gray;
   border-radius: 2px;

   &:hover{
      background-color: $Black;
      color: $White;
      border: 2px solid $Black;
      transition: .2s;
      cursor: pointer;
   }

   @include tablet{
      margin-top: 10px;
      justify-self: center;
   }
}

.creation__item{
   width: 100%;
   height: 450px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   p{
      max-width: 100%;
      padding: 40px 30px;
      position: absolute;
      bottom: 0;
      color: $White;
      font-family: $font-family-josefin-sans;
      font-size: 1.75rem;
      font-weight: 300;
      text-transform: uppercase;
      border: 1px solid red;
   }

   @include mobile{
      max-width: 654px;
      max-height: 150px;
      background-position: center;
   }
}

#earth{
   grid-area: earth;
   background-image: url('/assets/images/desktop/image-deep-earth.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-deep-earth.jpg');
   }
}

#arcade{
   grid-area: arcade;
   background-image: url('/assets/images/desktop/image-night-arcade.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-night-arcade.jpg');
   }
}

#soccer{
   grid-area: soccer;
   background-image: url('/assets/images/desktop/image-soccer-team.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-soccer-team.jpg');
   }
}

#car{
   grid-area: car;
   background-image: url('/assets/images/desktop/image-grid.jpg');

   @include mobile{
      background-image: url('/assets/images/mobile/image-grid.jpg');
   }
}

#abovevr{
   grid-area: abovevr;
   background-image: url('/assets/images/desktop/image-from-above.jpg');

   @include mobile{
      background-image: url('/assets/images/mobile/image-from-above.jpg');
   }
}

#pocket{
   grid-area: pocket;
   background-image: url('/assets/images/desktop/image-pocket-borealis.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-pocket-borealis.jpg');
   }
}

#curiosity{
   grid-area: curiosity;
   background-image: url('/assets/images/desktop/image-curiosity.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-curiosity.jpg');
   }
}

#fisheye{
   grid-area: fisheye;
   background-image: url('/assets/images/desktop/image-fisheye.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-fisheye.jpg');
   }
}