.creations{
   @include container;
   margin-bottom: 100px;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 100px 1fr 1fr;
   gap: 25px;
   grid-template-areas: 
      "grid__title   grid__title grid__title btn"
      "earth         arcade      soccer      car"
      "abovevr       pocket      curiosity   fisheye"
   ;
   
   @include tablet{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 60px 1fr 1fr;
      gap: 20px;
      grid-template-areas: 
         "grid__title   grid__title"
         "earth         arcade"
         "soccer        car"
         "abovevr       pocket"
         "curiosity     fisheye"
         "btn           btn"
      ;
   }
   @include mobile{
      grid-template-columns: 1fr;
      grid-template-areas: 
         "grid__title"
         "earth"   
         "arcade"
         "soccer"
         "car"
         "abovevr"
         "pocket"
         "curiosity"
         "fisheye"
         "btn"
      ;
   }
}

.grid__title{
   grid-area: grid__title;
   align-self: start;
   @include creation-title;
}

.btn{
   grid-area: btn;
   justify-self: end;
   align-self: start;
   width: 200px;
   padding: 10px 36px;
   color: $Black;
   font-family: $font-family-alata;
   font-size: 0.875rem;
   font-weight: 400;
   letter-spacing: 5px;
   text-transform: uppercase;
   text-align: center;
   border: 2px solid $Very-Dark-Gray;
   border-radius: 2px;

   &:hover{
      background-color: $Black;
      color: $White;
      border: 2px solid $Black;
      transition: .2s;
      cursor: pointer;
   }

   @include tablet{
      margin-top: 10px;
      justify-self: center;
   }
}

.creation__item{
   width: 100%;
   height: 450px;
   position: relative;
   transition: .2s;
   cursor: pointer;
   
   &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($White, 0.7);
   }
   
   &:hover p {
      color: black;
      font-weight: 600;
   }

   p{
      max-width: 160px;
      padding: 20px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      color: $White;
      font-family: $font-family-josefin-sans;
      font-size: 1.375rem;
      font-weight: 300;
      text-transform: uppercase;
   }

   @include mobile{
      height: 180px;
   }
}

#earth{
   grid-area: earth;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-deep-earth.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-deep-earth.jpg);
      background-position: center;
      background-size: cover;
   }
}

#arcade{
   grid-area: arcade;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-night-arcade.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-night-arcade.jpg);
      background-position: center;
      background-size: cover;
   }
}

#soccer{
   grid-area: soccer;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-soccer-team.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-soccer-team.jpg);
      background-position: center;
      background-size: cover;
   }
}

#car{
   grid-area: car;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-grid.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-grid.jpg);
      background-position: center;
      background-size: cover;
   }
}

#abovevr{
   grid-area: abovevr;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-from-above.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-from-above.jpg);
      background-position: center;
      background-size: cover;
   }
}

#pocket{
   grid-area: pocket;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-pocket-borealis.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-pocket-borealis.jpg);
      background-position: center;
      background-size: cover;
   }
}

#curiosity{
   grid-area: curiosity;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-curiosity.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-curiosity.jpg);
      background-position: center;
      background-size: cover;
   }
}

#fisheye{
   grid-area: fisheye;
   background: linear-gradient(to bottom, rgba($White, 0.1) 20%, rgba($Black, 0.7)), url(../images/desktop/image-fisheye.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   @include mobile{
      background: linear-gradient(to right, rgba($Black, 0.7), rgba($White, 0.1)) 20%, url(../images/mobile/image-fisheye.jpg);
      background-position: center;
      background-size: cover;
   }
}