.creations{
   @include container;
   margin-top: 60px;
   margin-bottom: 100px;
}

.grid{
   //border: 1px solid red;
   display: flex;
   flex-direction: column;
   //grid-template-columns: repeat(4, 1fr);
   //grid-template-rows: auto;
   //gap: 30px;
   //justify-items: center;
   /*
   @include tablet{
      grid-template-columns: repeat(2, 1fr);
   }
   @include mobile{
      grid-template-columns: repeat(2, 1fr);
      border: 1px solid red
   }*/
}

.grid__text{
   margin: 80px 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;

   .grid__title{
      @include creation-title;
      grid-column: span 3;
      align-items: center;
   }
   
   .btn{
      justify-self: end;
      padding: 10px 36px;
      color: $Black;
      font-family: $font-family-alata;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-align: center;
      border: 2px solid $Very-Dark-Gray;
      border-radius: 2px;
   
      &:hover{
         background-color: $Black;
         color: $White;
         border: 2px solid $Black;
         transition: .2s;
         cursor: pointer;
      }
      order: 2;
   }
}

.creation__items{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;

   @include tablet{
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
   }
   @include mobile{
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
   }
}

.creation__item{
   width: 100%;
   height: 450px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   filter: brightness(80%);

   p{
      max-width: 160px;
      //padding-right: 10px;
      position: absolute;
      
      bottom: 35px;
      left: 50px;
      color: $White;
      font-family: $font-family-josefin-sans;
      font-size: 1.75rem;
      font-weight: 300;
      text-transform: uppercase;
      border: 1px solid red;
   }

   &:hover p{
      color: $Black;
   }
   

   &:hover{
      opacity: 0.5;
      //filter: brightness(0);
      cursor: pointer;
   }

   @include mobile{
      max-width: 654px;
      max-height: 150px;
      background-position: center;
   }
}

#earth{
   background-image: url('/assets/images/desktop/image-deep-earth.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-deep-earth.jpg');
   }
}

#arcade{
   background-image: url('/assets/images/desktop/image-night-arcade.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-night-arcade.jpg');
   }
}

#soccer{
   background-image: url('/assets/images/desktop/image-soccer-team.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-soccer-team.jpg');
   }
}

#car{
   background-image: url('/assets/images/desktop/image-grid.jpg');

   @include mobile{
      background-image: url('/assets/images/mobile/image-grid.jpg');
   }
}

#abovevr{
   background-image: url('/assets/images/desktop/image-from-above.jpg');

   @include mobile{
      background-image: url('/assets/images/mobile/image-from-above.jpg');
   }
}

#pocket{
   background-image: url('/assets/images/desktop/image-pocket-borealis.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-pocket-borealis.jpg');
   }
}

#curiosity{
   background-image: url('/assets/images/desktop/image-curiosity.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-curiosity.jpg');
   }
}

#fisheye{
   background-image: url('/assets/images/desktop/image-fisheye.jpg');
   
   @include mobile{
      background-image: url('/assets/images/mobile/image-fisheye.jpg');
   }
}